[submodule "dot_config/nvim/pack/vim-toastpack"]
	path = dot_config/nvim/pack/vim-toastpack
	url = https://github.com/5paceToast/vim-toastpack.git
	branch = master
[submodule "dot_local/share/toasty"]
	path = dot_local/share/toasty
	url = https://github.com/5paceToast/toasty-zsh.git
	branch = master
