player=mpv
verbose-player

{{- $laptops := list "laptoast" "toastbp" -}}
{{ if has (.chezmoi.hostname | lower) $laptops }}
default-stream=720p,720p60,1080p60,best
{{ else }}
default-stream=best
{{ end -}}

player-passthrough=hls,http,rtmp
